@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,600;1,300&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #1abc9c;
    /* overflow: hidden; */
}

.block{
    max-width: 440px;
    padding: 0px 20px;
    margin: 170px auto;
}

.container{
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.container .title{
    line-height: 80px;
    background :#16a085;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.container form{
    padding: 30px 20px 25px 20px;
}

.container form .form-input{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.container form .form-input input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    font-size: 16px;
}

.container form .form-input i{
    position: absolute;
    width: 45px;
    height: 100%;
    background: #16a085;
    border: 1px solid #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    border: 1px solid lightgrey;
}


.container form .form-input-btn #my-btn{
    padding: 10px 160px 10px 148px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.container form .forget{
    margin: 10px 0px 20px 0px;
}

.container form .forget a{
    color: #16a085;
    text-decoration: none;
    font-size: 17px;
}

.container form .forget a:hover{
    text-decoration: underline;
}



.container form .form-input-btn #my-btn:hover{
    background: #12876f;
}

@media (max-width: 450px) {
    .container form .form-input-btn #my-btn{
        padding: 10px 120px 10px 148px;
    }
    }

    }

}

